doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='../public/stylesheets/style.css')
        link(rel='stylesheet' href='../public/stylesheets/comment.css')
        title Document
    body
    nav
      ul
        li
          a(href='/pages/home') Products
        li
          a(href='/pages/storeFinder') Store Finder
        li
          a(href='/pages/about') About
        li
          a(href='/pages/contact') Contact
        li
          a(href='/pages/downloads') Downloads
    .plane-grey
      h1 Your comment
      .commentContainer
       p= comment
        script(src='../public/javascripts/script.js')
    