doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/stylesheets/home.css')
    link(rel='stylesheet' href='../public/stylesheets/style.css')
    script(src='https://kit.fontawesome.com/78a4a1d08b.js' crossorigin='anonymous')
    title Document
  body
    nav
      ul
        li
          a(href='/pages/home') Products
        li
          a(href='/pages/storeFinder') Store Finder
        li
          a(href='/pages/about') About
        li
          a(href='/pages/contact') Contact
        li
          a(href='/pages/downloads') Downloads
    .plane-grey
      h1 Products
      .hr-line
      form(action='/pages/home' method='get')
        .search-bar-container
          input(type='text' name='searchInput' placeholder='Search for a product')
          button(type='submit')
            i.fa-solid.fa-arrow-right
      .product-row
        if searchInput
          each product in products
            .product
              img(src=".." + product.src)
              .product-info
                h3= product.naam
                hr
                p= product.beschrijving
        else
          each product in products.slice(0, 6)
            .product
              img(src=".." + product.src)
              .product-info
                h3= product.naam
                hr
                p= product.beschrijving

      script(src='../public/javascripts/script.js')
