doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/stylesheets/home.css')
    link(rel='stylesheet' href='../public/stylesheets/style.css')
    title Document
  body
    nav
      ul
        li
          a(href='/pages/home') Products
        li
          a(href='') Store Finder
        li
          a(href='') About
        li
          a(href='/pages/contact') Contact
        li
          a(href='') Downloads
    .plane-grey
      h1 Products
      .hr-line
      .search-bar-container
        input(type='text' placeholder='Search for a product')
        button
          svg.bi.bi-arrow-right(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewBox='0 0 16 16')
            path(fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z')
    .product-row
      img(src='../img/dining1.png')
      img(src='../img/dining2.png')
      img(src='../img/dining3.png')
      img(src='../img/dining4.png')
      img(src='../img/dining5.png')
      img(src='../img/lamp1.png')
    script(src='../public/javascripts/script.js')
